<app-header
  [title]="aboutDataResponse?.data?.title"
  [isEditable]="false"
  [backwardRoute]="'/tabs/main'"
  [isMain]="false"
  class="header-height"
></app-header>
<ion-content class="ion-padding">
  <ion-card class="ion-no-margin" *ngIf="aboutDataResponse?.data?.desc">
    <div class="logo">
      <img [src]="aboutDataResponse?.data?.image" />
    </div>
    <div class="ion-padding content">
      <p class="fn-14 dalel-Regular gray-black-color">
        {{aboutDataResponse?.data?.desc}}
      </p>
    </div>
  </ion-card>
</ion-content>
