<app-header
  [title]="'reservation'"
  [isEditable]="false"
  [backwardRoute]="'/tabs/main/reservation/'+itemDetails?.id"
  [isMain]="false"
  class="header-height"
></app-header>
<ion-content class="ion-padding">
  <div class="container" *ngIf="itemDetails?.first_image">
    <img [src]="itemDetails?.first_image " />
  </div>

  <app-custom-details
    [ItemDetails]="itemDetails"
    [isDetailed]="false"
  ></app-custom-details>

  <div class="details">
    <h5 class="fn-14 dalel-Bold primary-color">
      {{"my-reservations-details"|translate}}
    </h5>

    <div class="arrival-date-spacer">
      <p class="arrival fn-14 dalel-Regular">
        <img src="./../../../assets/icon/calender.svg" />
        <span
          [ngClass]="currentlangauge == 'ar' ?  'margin-right' :'margin-left'"
        >
          {{orderData?.start_time}}
        </span>
      </p>

      <p class="arrival fn-14 dalel-Regular">
        <span> {{"arrival-date"|translate}} :{{orderData?.start_date}} </span>
      </p>
    </div>

    <div class="left-date-spacer">
      <p class="arrival fn-14 dalel-Regular">
        <img src="./../../../assets/icon/calender.svg" />
        <span
          [ngClass]="currentlangauge == 'ar' ?  'margin-right':'margin-left'"
        >
          {{orderData?.end_time}}
        </span>
      </p>

      <p class="arrival fn-14 dalel-Regular">
        <span> {{"left-date"|translate}} :{{orderData?.end_date}} </span>
      </p>
    </div>
  </div>

  <div class="fees">
    <h5 class="fn-14 dalel-Bold primary-color">{{ "fees"|translate }}</h5>

    <div class="fees-details">
      <div>
        <p class="fn-14 dalel-Bold">
          {{itemDetails?.price}} {{'currency' |translate}}
        </p>
      </div>
      <div>
        <p class="fn-14 dalel-Bold">
          {{itemDetails?.price}} {{'one night' |translate}}
        </p>
      </div>
    </div>

    <hr class="separator" />

    <div class="fees-total">
      <div>
        <p class="fn-14 dalel-Bold primary-color">{{"total"|translate}}</p>
      </div>
      <div>
        <p class="fn-14 dalel-Bold primary-color">
          {{orderData?.total_after_promo}} {{'currency'|translate}}
        </p>
      </div>
    </div>
  </div>

  <div class="payment-method">
    <ion-item lines="none">
      <ion-label
        class="fn-14 black-color dalel-Regular"
        [ngClass]="currentlangauge == 'ar' ? 'align-right':'align-left'"
      >
        {{"pay on arrival"|translate}}
      </ion-label>
      <ion-checkbox
        color="secondary"
        slot="start"
        value="cash"
        [(ngModel)]="paymentMethod"
        
      ></ion-checkbox>
    </ion-item>
  </div>

  <ion-button expand="block" (click)="setOrderData()">
    <span class="auth-btn fn-16 white-color dalel-Bold">
      {{ "confirm reservation"|translate}}
    </span>
  </ion-button>
</ion-content>
