<app-header
  [title]="'reservation'"
  [isEditable]="false"
  [backwardRoute]="'/tabs/my-reservations'"
  [isMain]="false"
></app-header>
<ion-content class="ion-padding">
  <div class="container">
    <img [src]="reservationDetails.image " />
  </div>

  <app-custom-details
    [reservationDetails]="reservationDetails" [isDetailed]="false"
  ></app-custom-details>

  <div class="details">
    <h5 class="fn-14 dalel-Bold primary-color">
      {{"my-reservations-details"|translate}}
    </h5>

    <div class="arrival-date-spacer">
      <p class="arrival fn-14 dalel-Regular">
        <img src="./../../../assets/icon/calender.svg" />
        <span
          [ngClass]="currentlangauge == 'ar' ?  'margin-right' :'margin-left'"
        >
          {{reservationDetails.arrivalTime}}
        </span>
      </p>

      <p class="arrival fn-14 dalel-Regular">
        <span>
          {{"arrival-date"|translate}} :{{reservationDetails.leftTime}}
        </span>
      </p>
    </div>

    <div class="left-date-spacer">
      <p class="arrival fn-14 dalel-Regular">
        <img src="./../../../assets/icon/calender.svg" />
        <span
          [ngClass]="currentlangauge == 'ar' ?  'margin-right':'margin-left'"
        >
          {{reservationDetails.leftTime}}
        </span>
      </p>

      <p class="arrival fn-14 dalel-Regular">
        <span>
          {{"arrival-date"|translate}} :{{reservationDetails.leftDate}}
        </span>
      </p>
    </div>
  </div>

  <div class="fees">
    <h5 class="fn-14 dalel-Bold primary-color">{{ "fees"|translate }}</h5>

    <div class="fees-details">
      <div>
        <p class="fn-14 dalel-Bold">
          {{reservationDetails.perUnit}} * {{reservationDetails.price}}
        </p>
      </div>
      <div>
        <p class="fn-14 dalel-Bold">
          {{reservationDetails.price}} {{reservationDetails.unit}}
        </p>
      </div>
    </div>

    <hr class="separator" />

    <div class="fees-total">
      <div>
        <p class="fn-14 dalel-Bold primary-color">{{"total"|translate}}</p>
      </div>
      <div>
        <p class="fn-14 dalel-Bold primary-color">
          {{reservationDetails.price}} {{reservationDetails.unit}}
        </p>
      </div>
    </div>
  </div>

  <div class="payment-method">
    <ion-item lines="none">
      <ion-label class="fn-14 black-color dalel-Regular" [ngClass]="currentlangauge == 'ar' ? 'align-right':'align-left'">
        {{"pay on arrival"|translate}}
      </ion-label>
      <ion-checkbox color="secondary" slot="start" value="true"></ion-checkbox>
    </ion-item>
  </div>

  <ion-button expand="block" routerLink="/tabs/main">
    <span class="auth-btn fn-16 white-color dalel-Bold">
      {{ "confirm reservation"|translate}}
    </span>
  </ion-button>
</ion-content>
