.container {
  margin-bottom: 10px;
}

.container img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: initial;
     object-position: initial;
  border-radius: 10px;
  -webkit-filter: brightness(0.34);
          filter: brightness(0.34);
}

ion-button.button-disabled {
  opacity: 1 !important;
}

ion-button {
  margin: 0px;
}

ion-button ion-icon {
  font-size: 16px;
}

ion-button::part(native) {
  -webkit-padding-start: 10px !important;
          padding-inline-start: 10px !important;
  -webkit-padding-end: 10px !important;
          padding-inline-end: 10px !important;
  height: 50px !important;
  background-image: -webkit-gradient(linear, right top, left top, from(var(--ion-color-primary)), to(var(--ion-color-secondary)));
  background-image: linear-gradient(to left, var(--ion-color-primary), var(--ion-color-secondary));
}

.name-rating-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.name-rating-container .name,
.name-rating-container .rating {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.name-rating-container .name h5,
.name-rating-container .rating h5 {
  margin-top: 10px !important;
}

.nameandrating h5 {
  margin: 10px 0;
}

.addressandprice {
  margin-bottom: 16px;
}

.addressandprice p {
  margin: 0px !important;
}

.addressandprice ion-col ion-icon {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}

.details {
  background-color: var(--ion-color-orange-light);
  border-radius: 10px;
  padding: 10px 12px;
  margin-bottom: 12px;
}

.details p {
  margin: 0px !important;
}

.details h5 {
  margin: 0px !important;
}

.details .arrival img {
  display: inline-block;
}

.details .arrival-date-spacer {
  margin-top: 6px;
}

.details .left-date-spacer {
  margin-top: 10px;
}

.details .margin-left {
  margin-left: 6px;
}

.details .margin-right {
  margin-right: 6px;
}

.fees {
  background-color: var(--ion-color-orange-light);
  border-radius: 10px;
  padding: 10px 12px;
  margin-bottom: 16px;
}

.fees h5 {
  margin: 0px 0px 6px 0px;
}

.fees .fees-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fees .fees-details p {
  margin: 0px;
}

.fees .fees-details div {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fees .fees-details div p {
  color: var(--ion-color-gray-black);
}

.fees .separator {
  background-color: var(--ion-color-secondary);
}

.fees .fees-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fees .fees-total p {
  margin: 0px;
}

.fees .fees-total div {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.payment-method {
  background-color: var(--ion-color-orange-light);
  border-radius: 10px;
  padding: 10px 12px;
  margin-bottom: 16px;
}

.payment-method ion-item::part(native) {
  text-align: center;
  -webkit-padding-end: 0px !important;
          padding-inline-end: 0px !important;
  -webkit-padding-start: 0px !important;
          padding-inline-start: 0px !important;
  background: var(--ion-color-orange-light);
}

.payment-method ion-item::part(native) .item-inner {
  --inner-border-width: 0px;
}

.payment-method ion-checkbox {
  --checkmark-color: var(--ion-color-white);
  --border-radius: 3px;
  --size: 20px;
  --border-color: var(--ion-color-secondary);
}

.payment-method .align-right {
  text-align: right;
}

.payment-method .align-left {
  text-align: left;
}
/*# sourceMappingURL=reservation-payment.page.css.map */