<ion-content class="background">
  <div class="auth-login-register">
    <div class="logo">
      <img src="../../../../assets/images/logo.svg" />
    </div>

    <ion-card class="auth-container">
      <div class="auth-container-title">
        <h5 class="fn-24 dalel-Bold">{{ "password-change"|translate}}</h5>
      </div>

      <form
        class="auth-form"
        (ngSubmit)="passwordChange()"
        [formGroup]="changePasswordForm"
      >
        <ion-item
          lines="none"
          [ngClass]="inputFocusPassword ? 'focused' : 'unfocused' "
        >
          <ion-icon
            [color]="inputFocusCodeVerification ?'primary':'secondary'"
            name="checkmark-outline"
          ></ion-icon>
          <ion-input
            (ionFocus)="focusCodeVerification(true)"
            (ionBlur)="focusCodeVerification(false)"
            placeholder="{{'code-verification'|translate}}"
            type="tel"
            formControlName="code"
          ></ion-input>
        </ion-item>

        <div
          class="error-box fn-12"
          *ngIf=" ischangePasswordSubmitted  && changePasswordErrorControl.code.errors?.required"
        >
          {{'please enter code verification' | translate}}
        </div>

        <div
          class="error-box fn-12"
          *ngIf="ischangePasswordSubmitted  && changePasswordErrorControl.code.errors?.minlength"
        >
          {{'code verification should be 4 numbers' | translate}}
        </div>

        <ion-item
          lines="none"
          [ngClass]="inputFocusPassword ? 'focused' : 'unfocused' "
        >
          <ion-icon
            item-start
            color="primary"
            src="{{inputFocusPassword?inputFocusPasswordIcon:inputInFocusPasswordIcon}}"
          ></ion-icon>
          <ion-input
            (ionFocus)="focusPassword(true)"
            (ionBlur)="focusPassword(false)"
            placeholder="{{'password'|translate}}"
            [type]="passwordType"
            formControlName="password"
          ></ion-input>
          <ion-icon
            (click)="showPassword()"
            item-end
            color="primary"
            [name]="iconName"
          ></ion-icon>
        </ion-item>

        <ion-item
          lines="none"
          [ngClass]="inputFocusConfirmPassword ? 'focused' : 'unfocused' "
        >
          <ion-icon
            item-start
            color="primary"
            src="{{inputFocusConfirmPassword?inputFocusConfirmPasswordIcon:inputInFocusConfirmPasswordIcon}}"
          ></ion-icon>
          <ion-input
            (ionFocus)="focusConfirmPassword(true)"
            (ionBlur)="focusConfirmPassword(false)"
            placeholder="{{'confirm-password'|translate}}"
            [type]="confirmPasswordType"
            formControlName="confirmPassword"
          ></ion-input>
          <ion-icon
            (click)="showConfirmPassword()"
            item-end
            color="primary"
            [name]="confirmIconName"
          ></ion-icon>
        </ion-item>

        <ion-button expand="block" type="submit">
          <span class="fn-16 dalel-Bold"> {{"confirm"|translate}} </span>
        </ion-button>
      </form>
    </ion-card>
  </div>
</ion-content>
