ion-header {
  --background: none !important;
  background: #ffeee3;

  min-height: 60px;
  margin-bottom: 50px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: -30px;
    background: url("./../../../assets/images/wave00.png");
    background-size: 100% 100%;
    width: 100%;
    height: 100px;
  }
}
ion-toolbar {
  --background: none !important;
  .toolbar-container {
    padding-inline-start: 0px !important;
    padding-inline-end: 0px !important;
  }
  .custom-title {
    padding: 0px !important; //0 20px !important;
    margin-top: 18px !important;
  }

  .menu-icon {
    ion-button::part(native) {
      width: 50px !important;
      height: 50px !important;
    }
    ion-icon {
      font-size: 40px !important;
    }
  }
  .arrow-edit-btns {
    ion-button::part(native) {
      margin-top: 10px;
    }
  }
}
