<ion-content class="background">
  <div class="auth-login-register">
    <div class="logo">
      <img src="../../../../assets/images/logo.svg" />
    </div>

    <ion-card class="auth-container">
      <div class="auth-container-title">
        <h5 class="fn-24 dalel-Bold">{{"code-verification"|translate}}</h5>
      </div>

      <div class="auth-container-sub-title fn-14 dalel-Regular">
        <p>{{"enter code sent to mobile"|translate}}</p>
      </div>

      <form class="auth-form" (ngSubmit)="confirmVerificationCode()">
        <div class="code-conatiner">
          <div>
            <ion-item
              lines="none"
              [ngClass]="inputFocusNumber1 ? 'code-focused' : 'code-unfocused' "
            >
              <ion-input
                class="otp"
                #n1
                min="0"
                max="9"
                maxlength="1"
                (keyup)="next($event,n2,'n1')"
                type="tel"
              ></ion-input>
            </ion-item>
          </div>
          <div>
            <ion-item
              lines="none"
              [ngClass]="inputFocusNumber2 ? 'code-focused' : 'code-unfocused' "
            >
              <ion-input
                class="otp"
                #n2
                min="0"
                max="9"
                maxlength="1"
                (keyup)="next($event,n3,'n2')"
                type="tel"
              ></ion-input>
            </ion-item>
          </div>
          <div>
            <ion-item
              lines="none"
              [ngClass]="inputFocusNumber3 ? 'code-focused' : 'code-unfocused' "
            >
              <ion-input
                class="otp"
                #n3
                min="0"
                max="9"
                maxlength="1"
                (keyup)="next($event,n4,'n3')"
                type="tel"
              ></ion-input>
            </ion-item>
          </div>
          <div>
            <ion-item
              lines="none"
              [ngClass]="inputFocusNumber4 ? 'code-focused' : 'code-unfocused' "
            >
              <ion-input
                class="otp"
                #n4
                min="0"
                max="9"
                maxlength="1"
                (keyup)="next($event,'','n4')"
                type="tel"
              ></ion-input>
            </ion-item>
          </div>
        </div>
        <ion-button expand="block" type="submit">
          <span class="fn-16 dalel-Bold"> {{"confirm"|translate}} </span>
        </ion-button>
      </form>
    </ion-card>
  </div>
</ion-content>
