<ion-content class="background">
  <div class="auth-login-register">
    <div class="logo">
      <img src="../../../../assets/images/logo.svg" />
    </div>

    <ion-card class="auth-container">
      <div class="auth-container-title">
        <h5>{{"code-verification"|translate}}</h5>
      </div>

      <div class="auth-container-sub-title">
        <p>{{"enter code sent to mobile"|translate}}</p>
      </div>

      <form class="auth-form" (ngSubmit)="confirmVerificationCode()">
        <ion-row>
          <ion-col size="3">
            <ion-item lines="none">
              <ion-input
                class="otp"
                #n1
                min="0"
                max="9"
                maxlength="1"
                (keyup)="next($event,n2)"
                type="number"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="3">
            <ion-item lines="none">
              <ion-input
                class="otp"
                #n2
                min="0"
                max="9"
                maxlength="1"
                (keyup)="next($event,n3)"
                type="number"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="3">
            <ion-item lines="none">
              <ion-input
                class="otp"
                #n3
                min="0"
                max="9"
                maxlength="1"
                (keyup)="next($event,n4)"
                type="number"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="3">
            <ion-item lines="none">
              <ion-input
                class="otp"
                #n4
                min="0"
                max="9"
                maxlength="1"
                (keyup)="next($event,'')"
                type="number"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-button expand="block" type="submit">
          <span class="auth-btn"> {{"confirm"|translate}} </span>
        </ion-button>
      </form>
    </ion-card>
  </div>
</ion-content>
