ion-content.background {
  --background: url(./../../../../assets/images/authBg-right.png) 0 0 /100% 100%
    no-repeat;
}
.auth-form ion-item {
  margin-bottom: 0px !important;
}
ion-row {
  margin-bottom: 24px;
}
ion-item {
  --inner-padding-end: 0px !important;
}
ion-button {
  margin-bottom: 32px;
}
ion-input {
  text-align: center;
  --padding-end: 0px !important;
  .native-input {
    font-size: 24px !important;
    padding: 0px;
    margin: 0px;
    font-family: "Cairo-SemiBold";
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}
.focused {
  ion-item::part(native) {
    --background: var(--ion-color-primary) !important;
  }
  ion-input{
    --color: var(--ion-color-white) !important;
  }
}


ion-item::part(native) {
  padding: 6px 0px !important;
  text-align: center;
  .item-inner {
    padding-inline-end: 0px !important;
  }
}

.code-verification-container {
  display: flex;
  justify-content: space-between;
}
