ion-card {
  margin: 0 0 16px 0 !important;
}
.container {
  position: relative;
  height: 140px;
  img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    object-position: initial;

    border-radius: 5px;
    //opacity: 0.62;
    //filter: brightness(0.62);
  }

  .title {
    position: absolute;
    bottom: 30px;
    p {
      margin: 0px;
    }
  }

  .location {
    position: absolute;
    bottom: 5px;

    ion-icon {
      font-size: 20px;
    }
  }

  .location-address {
    position: absolute;

    bottom: 9px;
    p {
      margin: 0px;
    }
  }

  .address-detail {
    position: absolute;
    bottom: 5px;
    ion-icon {
      font-size: 25px;
    }
  }

  .title-ar {
    right: 13px;
  }

  .title-en {
    left: 13px;
  }

  .location-ar {
    right: 10px;
  }

  .location-en {
    left: 10px;
  }

  .location-address-ar {
    right: 30px;
  }

  .location-address-en {
    left: 30px;
  }

  .address-detail-ar {
    left: 10px;
  }

  .address-detail-en {
    right: 10px;
  }
}
