<ion-content class="background">
  <div
    class="language"
    [ngClass]="currentlangauge == 'ar' ? 'arabic_padding' : 'english_padding'"
  >
    <ion-list>
      <ion-radio-group (ionChange)="chooseLanguage($event)">
        <ion-list-header>
          <ion-label>
            <h5 class="title">{{ "choose_langauge"|translate}}</h5></ion-label
          >
        </ion-list-header>

        <ion-item class="lang-item" lines="none">
          <ion-radio
            value="ar"
            slot="start"
            [ngClass]="currentlangauge == 'ar' ? 'arabic' : 'english'"
          ></ion-radio>
          <ion-label class="lang-label">{{'arabic'|translate}}</ion-label>
        </ion-item>

        <ion-item class="lang-item" lines="none">
          <ion-radio
            value="en"
            slot="start"
            [ngClass]="currentlangauge == 'en' ? 'english' : 'arabic'"
          ></ion-radio>
          <ion-label class="lang-label"> {{'english'|translate}}</ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-button
      expand="block"
      [disabled]="!selectLanguage"
      class="btn-custom fn-16 dalel-Bold"
      routerLink="/on-boarding"
      routerDirection="forward"
    >
      <span>{{"start"|translate}}</span>
    </ion-button>
  </div>
</ion-content>
