
<app-custom-button [title]="'profile'"></app-custom-button>

<ion-content class="ion-padding">

 
  <!-- <div class="ion-text-center picture-wrapper">
  
    <ion-icon name="person-circle-outline"></ion-icon>
    
  </div> -->

  <div class="profile-card-wrapper">
    <div class="picture-wrapper">
      <img src="./../../../assets/icon/person-inactive.svg">
    </div>
    
    <ion-card class="ion-no-margin ion-padding">
     
      <div class="ion-text-center">
        <h4 class="dark-black-color fn-16 dalel-Bold">{{userData.name}}</h4>
      </div>
      <ion-item lines="none">
        <ion-icon
          item-start
          color="primary"
          src="'./../../../../assets/icon/person-inactive.svg"
        ></ion-icon>
        <ion-input
          readonly="true"
          [value]="userData.name"
          type="text"
        ></ion-input>
      </ion-item>
  
      <ion-item lines="none">
        <ion-icon
          item-start
          color="primary"
          src="'./../../../../assets/icon/phone-inactive.svg"
        ></ion-icon>
        <ion-input
          readonly="true"
          [value]="userData.phone"
          type="nummber"
        ></ion-input>
      </ion-item>
  
      <ion-item lines="none">
        <ion-icon
          item-start
          color="primary"
          src="'./../../../../assets/icon/email-inactive.svg"
        ></ion-icon>
        <ion-input
          readonly="true"
          [value]="userData.email"
          type="email"
        ></ion-input>
      </ion-item>
    </ion-card>
  </div>
  
</ion-content>
