ion-item {
  --border-color: var(--ion-color-secondary);
  --border-radius: 10px;
  --border-width: 1px;
  margin-bottom: 16px;
  ion-icon {
    width: 20px !important;
    height: 20px !important;
  }
  ion-input {
    --color: var(--ion-color-secondary);
    font-size: 14px;
    margin: 0 5px;
    --ion-font-family: "Cairo-Regular";
  }
}
