<app-header [title]="'profile'" [backwardRoute]="'/tabs/main'" [forwardRoute]="'/tabs/profile/edit-profile'"
  [isEditable]="true" [isMain]="false"></app-header>

<ion-content class="ion-padding">


  <div class="profile-card-wrapper">

    <ion-card class="ion-no-margin ion-padding">

      <div class="img-wrapper">
        <img src="./../../../assets/icon/person-inactive.svg" />
      </div>
      <div class="ion-text-center">
        <h4 class="dark-black-color fn-16 dalel-Bold name">{{userData.name}}</h4>
      </div>
      <ion-item lines="none">
        <ion-icon item-start color="primary" src="'./../../../../assets/icon/person-inactive.svg"></ion-icon>
        <ion-input readonly="true" [value]="userData.name" type="text"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-icon item-start color="primary" src="'./../../../../assets/icon/phone-inactive.svg"></ion-icon>
        <ion-input readonly="true" [value]="userData.phone" type="nummber"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-icon item-start color="primary" src="'./../../../../assets/icon/email-inactive.svg"></ion-icon>
        <ion-input readonly="true" [value]="userData.email" type="email"></ion-input>
      </ion-item>
    </ion-card>


  </div>




</ion-content>