<app-header
  [title]="'my-reservations-details'"
  [isEditable]="false"
  [backwardRoute]="'/tabs/my-reservations'"
  [isMain]="false"
></app-header>
<ion-content class="ion-padding">
  <div class="container">
    <img [src]="ItemDetails.image " />
  </div>
  <app-custom-details
    [ItemDetails]="ItemDetails"
    [isDetailed]="false"
  ></app-custom-details>

  <div class="details">
    <h5 class="fn-14 dalel-Bold primary-color">
      {{"my-reservations-details"|translate}}
    </h5>

    <div class="arrival-date-spacer">
      <p class="arrival fn-14 dalel-Regular">
        <img src="./../../../assets/icon/calender.svg" />
        <span
          [ngClass]="currentlangauge == 'ar' ?  'margin-right' :'margin-left'"
        >
          {{ItemDetails.arrivalTime}}
        </span>
      </p>

      <p class="arrival fn-14 dalel-Regular">
        <span> {{"arrival-date"|translate}} :{{ItemDetails.leftTime}} </span>
      </p>
    </div>

    <div class="left-date-spacer">
      <p class="arrival fn-14 dalel-Regular">
        <img src="./../../../assets/icon/calender.svg" />
        <span
          [ngClass]="currentlangauge == 'ar' ?  'margin-right':'margin-left'"
        >
          {{ItemDetails.leftTime}}
        </span>
      </p>

      <p class="arrival fn-14 dalel-Regular">
        <span> {{"arrival-date"|translate}} :{{ItemDetails.leftDate}} </span>
      </p>
    </div>
  </div>
</ion-content>
