<app-header [title]="'my-reservations-details'" [isEditable]="false" [backwardRoute]="'/tabs/my-reservations'"
  [isMain]="false" class="header-height"></app-header>
<ion-content class="ion-padding" *ngIf="orderDetials ">
  <div class="container" >
    <img [src]="orderDetials?.department_image " />
  </div>
  <app-custom-details [OrderDetails]="orderDetials" [isDetailed]="false"></app-custom-details>

  <div class="details">
    <h5 class="fn-14 dalel-Bold primary-color">
      {{"my-reservations-details"|translate}}
    </h5>

    <div class="arrival-date-spacer">
      <p class="arrival fn-14 dalel-Regular">
        <img src="./../../../assets/icon/calender.svg" />
        <span [ngClass]="currentlangauge == 'ar' ?  'margin-right' :'margin-left'">
          {{orderDetials?.start_time}}
        </span>
      </p>

      <p class="arrival fn-14 dalel-Regular">
        <span> {{"arrival-date"|translate}} :{{orderDetials?.start_date}} </span>
      </p>
    </div>

    <div class="left-date-spacer">
      <p class="arrival fn-14 dalel-Regular">
        <img src="./../../../assets/icon/calender.svg" />
        <span [ngClass]="currentlangauge == 'ar' ?  'margin-right':'margin-left'">
          {{orderDetials?.end_time}}
        </span>
      </p>

      <p class="arrival fn-14 dalel-Regular">
        <span> {{"left-date"|translate}} :{{orderDetials?.end_date}} </span>
      </p>
    </div>
  </div>
</ion-content>