<app-header
  [title]="'details'"
  [isEditable]="false"
  [backwardRoute]="'/tabs/main'"
  [isMain]="false"
  class="header-height"
></app-header>

<ion-content class="ion-padding">
  <div class="item-image">
    <img src="./../../../assets/images/1024-500.png" />
    <ion-icon
      (click)="addToFavourite()"
      [ngClass]="currentlangauge =='ar' ?'fav-ar':'fav-en' "
      [src]="itemDetails.isFav ? './../../../assets/icon/fav-active.svg' :'./../../../assets/icon/fav-inactive.svg'"
    ></ion-icon>

    <div class="details-container ion-padding">
      <app-custom-details
        [ItemDetails]="itemDetails"
        [isDetailed]="true"
      ></app-custom-details>
    </div>
  </div>

  <div class="services">
    <div>
      <ion-icon src="./../../../assets/icon/icon1.svg"></ion-icon>
      <p class="fn-14 dalel-Regular secondary-color">{{"chalet"|translate}}</p>
    </div>
    <div>
      <ion-icon src="./../../../assets/icon/space.svg"></ion-icon>
      <p class="fn-14 dalel-Regular secondary-color">450 م</p>
    </div>
    <div>
      <ion-icon src="./../../../assets/icon/bed.svg"></ion-icon>
      <p class="fn-14 dalel-Regular secondary-color">10 غرف</p>
    </div>
    <div>
      <ion-icon src="./../../../assets/icon/icon4.svg"></ion-icon>
      <p class="fn-14 dalel-Regular secondary-color">4 حمام</p>
    </div>
  </div>

  <div class="description">
    <h5 class="fn-16 dalel-SemiBold">{{"description"|translate}}</h5>
    <p class="fn-12 dalel-Regular">{{itemDetails.description}}</p>
  </div>

  <div class="place-images">
    <div class="header">
      <div>
        <h5 class="fn-16 dalel-SemiBold">{{"place-images"|translate}}</h5>
      </div>
      <div>
        <ion-icon src="./../../../assets/icon/place.svg"></ion-icon>
      </div>
    </div>

    <swiper
      #swiper
      [config]="configSlider"
      class="custom-swiper"
      [dir]="currentlangauge == 'ar' ? 'rtl' : 'ltr'"
    >
      <ng-template
        swiperSlide
        *ngFor="let cat of [{},{},{},{},{},{},{},{}]"
      >
        <img src="./../../../assets/images/512.png" />
      </ng-template>
    </swiper>
  </div>
  <div class="map-container">
    <div class="header">
      <div>
        <h5 class="fn-16 dalel-SemiBold">{{"map"|translate}}</h5>
      </div>
    </div>
    <div #map class="map"></div>
  </div>

  <div class="rules">
    <div class="header">
      <div>
        <h5 class="fn-16 dalel-SemiBold">{{"reservation-rules"|translate}}</h5>
      </div>
    </div>
    <div>
      <p class="fn-12 dalel-Regular">{{itemDetails.reservationRules}}</p>
    </div>
  </div>

  <ion-button expand="block" routerLink="/tabs/main/reservation">
    <span class="auth-btn fn-16 white-color dalel-Bold">
      {{ "reserve now"|translate}}
    </span>
  </ion-button>
</ion-content>
