.item-image {
  position: relative;

  img {
    border-radius: 16px;
    width: 100%;
  }

  .fav-ar {
    position: absolute;
    top: 16px;
    left: 16px;
  }

  .fav-en {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

.details-container{
  position: absolute;
  //height: 60px;
  width: 92%;
  margin: 0 var(--ion-padding, 16px);
  bottom: -60px;
  border-radius: 10px;
  background-color: var(--ion-color-orange-light);
}
.item-details {
  position: absolute;
  //height: 60px;
  width: 92%;
  margin: 0 var(--ion-padding, 16px);
  bottom: -60px;
  border-radius: 10px;
  background-color: var(--ion-color-orange-light);
  .name-rating-container {
    display: flex;
    justify-content: space-between;
    .name {
      flex-direction: row;
      h5 {
        margin-top: 6px !important;
      }
    }
    .rating {
      .rating-address-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        div {
          flex-direction: row;
          display: flex;
        }

        .address-container {
          ion-icon {
            font-size: 18px;
            height: 20px;
          }
        }

        .rating-container {
          ion-icon {
            font-size: 12px;
          }
          span {
            margin: -6px 4px;
          }

          background-color: var(--ion-color-primary);
          border-radius: 5px;
          padding: 12px 6px;
        }
      }
    }
  }

  .address-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .address,
    .price {
      flex-direction: row;
      p {
        display: inline-block;
        margin: 0px;
      }
    }
  }
}

.services {
  display: flex;
  // border: 1px solid #707070;
  justify-content: space-around;
  border-radius: 10px;
  background-color: #fcfcfc;
  padding: 17px 13px;
  margin-top: 70px;
  margin-bottom: 24px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%); // var(--ion-color-dark-black-rgb, 0.16);
  div {
    flex-direction: row;
    text-align: center;
    p {
      margin: 0px;
    }
  }
}

.description {
  border: 1px solid var(--ion-color-secondary);
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 16px;
  h5 {
    margin: 0px;
  }
  p {
    color: rgb(var(--ion-color-dark-black-rgb), 0.55);
  }
}

.place-images {
  margin-bottom: 16px;
  img {
    border-radius: 10px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    h5 {
      margin-bottom: 8px;
      margin-top: 0px;
    }
    div {
      flex-direction: row;
    }
  }
}

.map-container {
  .map {
    height: 200px;
    border: 1px solid #80808042;
    border-radius: 10px;
  }
}

.rules {
  p {
    color: rgb(var(--ion-color-dark-black-rgb), 0.55);
  }
}

// .btn-custom {
//   margin: 0 5%;
//   --color: var(--ion-color-white);
//   font-size: 16;
//   font-family: "Cairo-Bold";
//   height: 48px;
// }

ion-button{
  --box-shadow	: 0 3px 6px rgb(0 0 0 / 16%);
  &::part(native){
    height: 50px !important;
    background-image: linear-gradient(
      to left,
      var(--ion-color-primary),
      var(--ion-color-secondary)
    );
  }
}
// ion-button::part(native) {
//   height: 50px !important;
//   background-image: linear-gradient(
//     to left,
//     var(--ion-color-primary),
//     var(--ion-color-secondary)
//   );
// }

.slider-image{
  height: 62px;
}
