.swiper-slide {
  align-items: self-start;
}

.search-section {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .search-input {
    flex-direction: row;
    flex-grow: 6;

    .search-wrapper {
      border: 1px solid var(--ion-color-light-gray);
      border-radius: 25px;
      box-shadow: 0 3px 6px rgb(0 0 0 / 8%);
      height: 40px !important;

      ion-input {
        --placeholder-color: var(--ion-color-lighted-gray);
        --placeholder-opacity: 1;
        font-size: 12px;
        --padding-top: 0px !important;
      }
      ion-icon {
        margin-bottom: 8px;
      }
    }
  }

  .margin-right {
    margin: 0px 12px 0px 0px;
  }

  .margin-left {
    margin: 0px 0px 0px 12px;
  }

  .search-filter {
    flex-direction: row;
    ion-fab-button {
      margin: 0px;
      ion-icon {
        font-size: 16px;
      }
      &::part(native) {
        button.button-native {
          height: 40px !important;
          width: 40px !important;
        }
      }
    }
  }
}

.slider-section {
  position: relative;

  .swiper-pagination-bullets {
    position: absolute;
    text-align: center !important;
    height: 10px;
    width: 15px;
    bottom: 0 !important;
    background-color: var(--ion-color-primary) !important;
  }

  .swiper-pagination-bullet {
    height: 10px !important;
    width: 15px !important;
    display: inline-block;
    border-radius: 10px !important;
    background: var(--ion-color-secondary) !important;
    opacity: rgb(var(--ion-color-secondary-rgb), 0.5) !important;
  }

  img {
    border-radius: 10px;
    height: 160px;
    width: 100%;
    object-fit: cover;
  }
}

.categories-section {
  .categories-section-title {
    display: flex;
    justify-content: space-between;
  }

  .categories-section-title > div {
    flex-direction: row;
  }

  .cat-title-text {
    margin: 10px;
  }

  ion-thumbnail {
    margin: 0px;
    img {
      border-radius: 5px;
    }
  }

  .categories-sub-title {
    color: var(--ion-color-primary);
    white-space: nowrap;
  }

  ion-item::part(native) {
    padding-inline-start: 0px;
  }
}

.naerby-section {
  margin-bottom: 23px;

  .naerby-section-title {
    display: flex;
    justify-content: space-between;
    div {
      flex-direction: row;
    }
  }
}
