<app-header [title]="'main'" [isMain]="true" class="header-height"></app-header>

<ion-content class="ion-safe-area">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="search-section ion-padding-horizontal ion-safe-area-top">
    <div class="search-input">
      <ion-item lines="none" class="search-wrapper">
        <ion-input
          type="search"
          [(ngModel)]="searchText"
          enterkeyhint="search"
          placeholder="{{'search here'|translate}}"
        ></ion-input>
        <ion-icon
          item-start
          color="primary"
          name="search"
          (click)="showResults()"
        ></ion-icon>
      </ion-item>
    </div>
    <div
      class="search-filter"
      [ngClass]="currentlangauge == 'ar'?'margin-right':'margin-left'"
    >
      <ion-fab-button
        size="small"
        color="secondary"
        routerLink="/tabs/main/search-filter"
      >
        <ion-icon name="funnel-outline" color="white"></ion-icon>
      </ion-fab-button>
    </div>
  </div>

  <div class="slider-section ion-padding">
    <swiper
      #swiper
      [config]="configSlider"
      class="custom-swiper"
      [dir]="currentlangauge == 'ar' ? 'rtl' : 'ltr'"
    >
      <ng-template swiperSlide *ngFor="let slide of Sliders">
        <img [src]="slide.image" />
      </ng-template>
    </swiper>
  </div>

  <div class="categories-section ion-padding-horizontal">
    <div class="categories-section-title">
      <div>
        <h5 class="categories-title fn-18 dalel-Bold">
          {{"categories"|translate}}
        </h5>
      </div>
      <div routerLink="/tabs/main/categories">
        <p class="categories-sub-title fn-14 dalel-Regular">
          {{"show all"|translate}}
        </p>
      </div>
    </div>

    <swiper
      #swiper
      [config]="configCategories"
      class="custom-swiper"
      [dir]="currentlangauge == 'ar' ? 'rtl' : 'ltr'"
    >
      <ng-template swiperSlide *ngFor="let cat of sections">
        <ion-card
          class="ion-no-margin"
          (click)="categoryList(cat.title,cat.id)"
        >
          <ion-item>
            <ion-thumbnail>
              <img [src]="cat.image" />
            </ion-thumbnail>
            <ion-label class="cat-title-text fn-16 dalel-SemiBold">
              {{cat.title|translate}}
            </ion-label>
          </ion-item>
        </ion-card>
      </ng-template>
    </swiper>
  </div>

  <div class="naerby-section ion-padding-horizontal">
    <div class="naerby-section-title">
      <div>
        <h5 class="fn-18 dalel-Bold">{{"nearby places"|translate}}</h5>
      </div>
    </div>

    <swiper
      #swiper
      [config]="configNearBy"
      class="custom-swiper"
      [dir]="currentlangauge == 'ar' ? 'rtl' : 'ltr'"
    >
      <ng-template swiperSlide *ngFor="let item of nearDepartments">
        <app-custom-card
          [itemDetails]="item"
          [forwardRoute]="'/tabs/main'"
          [cardBrightness]="'0.62'"
        ></app-custom-card>
      </ng-template>
    </swiper>
  </div>
</ion-content>
