.swiper-slide {
  align-items: self-start;
}

.search-section {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .search-input {
    flex-direction: row;
    flex-grow: 6;

    .search-wrapper {
      border: 1px solid var(--ion-color-light-gray);
      border-radius: 25px;
      box-shadow: 0 3px 6px rgb(0 0 0 / 8%);
      height: 40px !important;

      ion-input {
        --placeholder-color: var(--ion-color-lighted-gray);
        --placeholder-opacity: 1;
        font-size: 12px;
        --padding-top: 0px !important;
      }
      ion-icon {
        margin-bottom: 9px;
      }
    }
  }

  .margin-right {
    margin: 0px 12px 0px 0px;
  }

  .margin-left {
    margin: 0px 0px 0px 12px;
  }

  .search-filter {
    flex-direction: row;
    ion-fab-button {
      margin: 0px;
      ion-icon {
        font-size: 16px;
      }
      &::part(native) {
        button.button-native {
          height: 40px !important;
          width: 40px !important;
        }
      }
    }
  }
}

.slider-section {
  position: relative;

  .swiper-pagination {
    bottom: 10px;

    top: auto !important;
    text-align: center;

    .swiper-pagination-bullet {
      background: var(--ion-color-primary) !important;
      top: 70% !important;
      right: 50% !important;
      height: 10px !important;
      width: 15px !important;
      border-radius: 10px;
      opacity: 0.5 !important;
    }

    .swiper-pagination-bullet-active {
      background-color: var(--ion-color-primary) !important;
      top: 70% !important;
      right: 50% !important;
      height: 10px !important;
      width: 30px !important;
      border-radius: 10px;
      opacity: 1 !important;
    }

    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets
      .swiper-pagination-bullet {
      background-color: rgba(var(--ion-color-primary-rgb), 0.5) !important;
      height: 10px;
      width: 15px;
      border-radius: 10px;
      right: 50%;
    }
  }

  img {
    border-radius: 10px;
    height: 160px;
    width: 100%;
    object-fit: cover;
  }
}

.categories-section {
  .categories-section-title {
    display: flex;
    justify-content: space-between;
  }

  .categories-section-title > div {
    flex-direction: row;
  }

  ion-card {
    ion-thumbnail {
      margin: 0px;
      img {
        border-radius: 5px;
      }
    }
    ion-item {
      .cat-title-text {
        margin: 10px;
      }
      &::part(native) {
        padding-inline-start: 0px;
      }
    }
  }

  .categories-sub-title {
    color: var(--ion-color-primary);
    white-space: nowrap;
  }
}

.naerby-section {
  margin-bottom: 23px;

  .naerby-section-title {
    display: flex;
    justify-content: space-between;
    div {
      flex-direction: row;
    }
  }
}
