// ion-content.background {
//     --background: url(../../../assets/images/mainBg.svg) 0 0 /100% 100% no-repeat;
//   }


ion-header{

  .menu-container{
    position: relative;
    img {
      width: 100%;
    }
  }

  .menu-icon{
    position: absolute;
    top: 30%;
    right: 16px;
    img {
      width: 40px;
      height: 40px;
    }
  }

  .menu-title{
    position: absolute;
    top: 37%;
    right: 21%;
    font-size: 18px;
    color: var(--ion-color-primary);
    font-weight: bold;
    p{
      margin: 0px;
    }
  }
 
}

.search-section{
  .search-wrapper{
    border: 1px solid #E1E1E1;
    border-radius: 25px;
  }

  ion-fab-button{


    
    ion-icon{
      font-size: 16px;
    }
  }
  ion-fab-button::part(native){
    button.button-native{
      height: 40px !important;
      width: 40px !important;
    }
  }

}
  
.slider-section{
  img{
    border-radius: 10px;
  }
  //margin-bottom: 23px;
}

.categories-section{
  .categories-title{
    font-size: 18px;
    font-family: "Cairo-Bold";
  }

  .categories-sub-title{
    font-size: 14px;
    font-family: "Cairo-Regular";
    color:var(--ion-color-secondary);
    white-space: nowrap;
  }

  ion-item::part(native){
    padding-inline-start:0px;

  }
}

.naerby-section{
  margin-bottom: 23px;
  .categories-title{
    font-size: 18px;
    font-family: "Cairo-Bold";
  }

  .categories-sub-title{
    font-size: 14px;
    font-family: "Cairo-Regular";
    color:var(--ion-color-secondary);
    white-space: nowrap;
  }
  ion-item::part(native){
    padding-inline-start:0px;

  }

  .container{
    position: relative;
    img{
      width: 160px;
      height: 140px;
      object-fit: cover;
      object-position: initial;
      border-radius: 10px;
    }

    .title{
      
      position: absolute;
      bottom: 5px;
      color: white;
     p{
       font-size: 14px;
       font-family: "Cairo-Bold";
     }
    }

    .address{
      position: absolute;
      bottom: 5px;
      color: white;
      font-size: 14px;
      font-family: "Cairo-Regular";
      .location{
        right: 10px;
      }

      .location-address{

      }
      .address-detail{
        left: 10px;
      }
    }
  }
}