<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-header class="header-image ion-no-border">
        <img
          [ngClass]="currentLanguage == 'ar' ? 'image-right' : 'image-left'"
          src="./../assets/images/512.png"
        />
      </ion-header>

      <ion-content class="my-menu-content">
        <ion-list>
          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of pages; let i = index"
            (click)="selectedIndex = i"
            routerDirection="root"
            [routerLink]="[p.url]"
            [class.selected]="selectedIndex == i"
          >
            <!-- <ion-button
              shape="round"
              expand="block"
              [routerLink]="p.url"
              routerDirection="root"
              routerLinkActive="active-item"
            >
              <ion-icon slot="start" name="star" color="white"></ion-icon>
              <span class="fn-16 Cairo-Regular white-color ">
                {{ p.title | translate }}
              </span>
            </ion-button> -->

            <!-- [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'" -->
            <ion-item lines="none" detail="false">
              <ion-icon slot="start" [src]="selectedIndex == i ? p.iconActive :p.iconInActive"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
