

// .btn-margin{
  
// }

// ion-button::part(native) {
//   height: 50px !important;
//   background-image: linear-gradient(
//     to left,
//     var(--ion-color-primary),
//     var(--ion-color-secondary)
//   );
// }
button.days-btn {
  color: var(--ion-color-secondary);
}
.reservation-btn{
  margin-top: 160px !important;
  &::part(native) {
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    height: 50px !important;
    background-image: linear-gradient(
      to left,
      var(--ion-color-primary),
      var(--ion-color-secondary)
    );
  }
}