<app-header
  [title]="'edit profile'"
  [isEditable]="false"
  [isMain]="false"
  [backwardRoute]="'/tabs/profile'"
></app-header>

<ion-content class="ion-padding">
  <div class="auth-login-register" *ngIf="getData">
    <ion-card class="auth-container">
      <form
        class="auth-form"
        (ngSubmit)="editProfile()"
        [formGroup]="profileForm"
      >
        <ion-item lines="none" [ngClass]="inputFocusPerson ? 'focused' : 'unfocused' ">
          <ion-icon
            item-start
            color="primary"
            src="{{inputFocusPerson?inputFocusPersonIcon:inputInFocusPersonIcon}}"
          ></ion-icon>
          <ion-input
            (ionFocus)="focusPerson(true)"
            (ionBlur)="focusPerson(false)"
            placeholder="{{'user-name'|translate}}"
            type="text"
            formControlName="userName"
            [value]="userResponse.data.first_name"
          ></ion-input>
        </ion-item>

        <div
          class="error-box"
          *ngIf="isProfileSubmitted && profileErrorControl.userName.errors?.required"
        >
          {{'please enter user name' | translate}}
        </div>

        <div
          class="error-box"
          *ngIf="isProfileSubmitted && profileErrorControl.userName.errors?.minlength"
        >
          {{'user name should be min 2 chars long' | translate}}
        </div>

        <ion-item lines="none" [ngClass]="inputFocusPhone ? 'focused' : 'unfocused' ">
          <ion-icon
            item-start
            color="primary"
            src="{{inputFocusPhone?inputFocusPhoneIcon:inputInFocusPhoneIcon}}"
          ></ion-icon>
          <ion-input
            (ionFocus)="focusPhone(true)"
            (ionBlur)="focusPhone(false)"
            placeholder="{{'phone-number'|translate}}"
            type="tel"
            formControlName="phoneNumber"
            [value]="userResponse.data.phone"
          ></ion-input>
        </ion-item>

        <div
          class="error-box"
          *ngIf="isProfileSubmitted && profileErrorControl .phoneNumber.errors?.required"
        >
          {{'please enter phone number' | translate}}
        </div>

        <div
          class="error-box"
          *ngIf="isProfileSubmitted && profileErrorControl.phoneNumber.errors?.minlength"
        >
          {{'phone number should be 10 numbers' | translate}}
        </div>

        <ion-item lines="none" [ngClass]="inputFocusEmail ? 'focused' : 'unfocused' ">
          <ion-icon
            item-start
            color="primary"
            src="{{inputFocusEmail?inputFocusEmailIcon:inputInFocusEmailIcon}}"
          ></ion-icon>
          <ion-input
            (ionFocus)="focusEmail(true)"
            (ionBlur)="focusEmail(false)"
            placeholder="{{'email-address'|translate}}"
            type="email"
            formControlName="email"
            [value]="userResponse.data.email"
          ></ion-input>
        </ion-item>

        <div
          class="error-box"
          *ngIf="isProfileSubmitted && profileErrorControl.email.errors?.required "
        >
          {{'please enter email' | translate}}
        </div>

        <div
          class="error-box"
          *ngIf="isProfileSubmitted && profileErrorControl.email.errors?.pattern "
        >
          {{'please enter valid email' | translate}}
        </div>

        <ion-button expand="block" type="submit">
          <span class="auth-btn"> {{ "save"|translate}} </span>
        </ion-button>
      </form>
    </ion-card>
  </div>
</ion-content>
