<app-header
  [title]="'search-filter'"
  [isEditable]="false"
  [backwardRoute]="'/tabs/main'"
  [isMain]="false"
  class="header-height"
></app-header>

<ion-content class="ion-padding">
  <h5 class="fn-14 dalel-Bold dark-black-color">
    {{"search results filter"|translate}}
  </h5>

  <ion-item lines="none" class="select-container">
    <ion-input
      [(ngModel)]="title"
      placeholder='{{"search with place name"|translate}}'
    ></ion-input>
  </ion-item>

  <ion-item lines="none" class="select-container">
    <ion-select
      (ionChange)="chooseCountry($event)"
      placeholder='{{"choose country"|translate}}'
      okText='{{"ok"|translate}}'
      cancelText='{{"cancel"|translate}}'
      interface="popover"
      mode="ios"
    >
      <ion-select-option *ngFor="let country of countries" [value]="country.id">
        {{country.title}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item lines="none" class="select-container">
    <ion-select
      (ionChange)="chooseCity($event)"
      placeholder='{{ "choose city"|translate}}'
      okText='{{"ok"|translate}}'
      cancelText='{{"cancel"|translate}}'
      interface="popover"
      mode="ios"
    >
      <ion-select-option *ngFor="let city of cities" [value]="city.id">
        {{city.title}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item lines="none" class="select-container">
    <ion-select
      (ionChange)="chooseNeiborhoods($event)"
      placeholder='{{ "choose neighborhood"|translate}}'
      okText='{{"ok"|translate}}'
      cancelText='{{"cancel"|translate}}'
      interface="popover"
      mode="ios"
    >
      <ion-select-option
        *ngFor="let neighborhood of neighborhoods"
        [value]="neighborhood.id"
      >
        {{neighborhood.title}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <div class="flex-container">
    <div [ngClass]="currentlangauge == 'ar' ?'item-left':'item-right' ">
      <ion-item lines="none" class="select-container">
        <ion-input
          [(ngModel)]="rooms"
          placeholder='{{ "rooms number"|translate}}'
        ></ion-input>
      </ion-item>
    </div>

    <div [ngClass]="currentlangauge == 'ar' ?'item-right':'item-left' ">
      <ion-item lines="none" class="select-container">
        <ion-input
          [(ngModel)]="people"
          placeholder='{{ "people number"|translate}}'
        ></ion-input>
      </ion-item>
    </div>
  </div>

  <p class="fn-14 dalel-Regular primary-color">
    {{"determine space"|translate}} ({{"meter"|translate}}<sup>2</sup>)
  </p>

  <div class="flex-container">
    <div [ngClass]="currentlangauge == 'ar' ?'item-left':'item-right' ">
      <ion-item lines="none" class="select-container">
        <ion-input
          [(ngModel)]="min_area"
          placeholder='{{ "least space"|translate}}'
        ></ion-input>
      </ion-item>
    </div>

    <div [ngClass]="currentlangauge == 'ar' ?'item-right':'item-left' ">
      <ion-item lines="none" class="select-container">
        <ion-input
          [(ngModel)]="max_area"
          placeholder='{{ "highest space"|translate}}'
        ></ion-input>
      </ion-item>
    </div>
  </div>

  <p class="fn-14 dalel-Regular primary-color">
    {{"determine price"|translate}}
  </p>

  <div class="flex-container">
    <div [ngClass]="currentlangauge == 'ar' ?'item-left':'item-right' ">
      <ion-item lines="none" class="select-container">
        <ion-input
          [(ngModel)]="max_price"
          placeholder='{{ "least price"|translate}}'
        ></ion-input>
      </ion-item>
    </div>

    <div [ngClass]="currentlangauge == 'ar' ?'item-right':'item-left' ">
      <ion-item lines="none" class="select-container">
        <ion-input
          [(ngModel)]="min_price"
          placeholder='{{ "least price"|translate}}'
        ></ion-input>
      </ion-item>
    </div>
  </div>

  <div class="section-container">
    <h5 class="fn-14 dalel-Bold dark-black-color">
      {{"Miscellaneous"|translate}}
    </h5>

    <div class="items-container">
      <div>
        <ion-item lines="none">
          <ion-label
            class="fn-14 gray-color dalel-Regular"
            [ngClass]="currentlangauge == 'ar' ? 'align-right':'align-left'"
          >
            {{"show available only"|translate}}
          </ion-label>
          <ion-checkbox
            color="secondary"
            slot="start"
            value="true"
            [ngClass]="currentlangauge == 'ar' ?'margin-right':'margin-left'"
          ></ion-checkbox>
        </ion-item>
      </div>
      <div>
        <ion-item lines="none">
          <ion-label
            class="fn-14 gray-color dalel-Regular"
            [ngClass]="currentlangauge == 'ar' ? 'align-right':'align-left'"
          >
            {{ "show offers only"|translate}}
          </ion-label>
          <ion-checkbox
            color="secondary"
            slot="start"
            value="true"
            [ngClass]="currentlangauge == 'ar' ?'margin-right':'margin-left'"
          ></ion-checkbox>
        </ion-item>
      </div>
    </div>
  </div>

  <div class="section-container categories">
    <h5 class="fn-14 dalel-Bold dark-black-color">
      {{ "Categories"|translate}}
    </h5>

    <div class="items-container">
      <div *ngFor="let category of categories">
        <ion-item lines="none">
          <ion-label
            class="fn-14 gray-color dalel-Regular"
            [ngClass]="currentlangauge == 'ar' ? 'align-right':'align-left'"
          >
            {{category.title}}
          </ion-label>
          <ion-checkbox
            color="secondary"
            slot="start"
            (click)="chooseCategory(category)"
            [ngClass]="currentlangauge == 'ar' ?'margin-right':'margin-left'"
          ></ion-checkbox>
        </ion-item>
      </div>
    </div>
  </div>

  <div class="section-container facilities">
    <h5 class="fn-14 dalel-Bold dark-black-color">
      {{ "facilities"|translate}}
    </h5>

    <div class="items-container">
      <div *ngFor="let option of options">
        <ion-item lines="none">
          <ion-label
            class="fn-14 gray-color dalel-Regular"
            [ngClass]="currentlangauge == 'ar' ? 'align-right':'align-left'"
          >
            {{option.title}}
          </ion-label>
          <ion-checkbox
            color="secondary"
            slot="start"
            (click)="chooseOption(option)"
            [ngClass]="currentlangauge == 'ar' ?'margin-right':'margin-left'"
          ></ion-checkbox>
        </ion-item>
      </div>
    </div>
  </div>

  <ion-button expand="block" (click)="getItemsByFilters()" [routerAnimation]>
    <span class="fn-16 white-color dalel-Bold">
      {{ "search"|translate}}
    </span>
  </ion-button>
</ion-content>
