<ion-content [ngClass]="authType=='register' ? 'bg-left' : 'bg-right' ">
  <div class="auth-login-register">
    <div class="logo">
      <img src="../../../../assets/images/logo.svg" />
    </div>

    <ion-card class="auth-container">
      <ion-segment
        (ionChange)="authTypeChange($event)"
        value="register"
        [(ngModel)]="authType"
      >
        <ion-segment-button value="register" class="register-btn">
          <ion-label>{{"register"|translate}}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="signin" class="signin-btn">
          <ion-label>{{"signin"|translate}}</ion-label>
        </ion-segment-button>
      </ion-segment>

      <form
        class="auth-form"
        *ngIf=" authType=='register'"
        (ngSubmit)="signUp()"
        [formGroup]="registerForm"
      >
        <ion-item lines="none" [ngClass]="inputFocusPerson ? 'focused' : 'unfocused' ">
          <ion-icon
            item-start
            color="primary"
            src="{{inputFocusPerson?inputFocusPersonIcon:inputInFocusPersonIcon}}"
          ></ion-icon>
          <ion-input
            (ionFocus)="focusPerson(true)"
            (ionBlur)="focusPerson(false)"
            placeholder="{{'user-name'|translate}}"
            type="text"
            formControlName="userName"
          ></ion-input>
        </ion-item>

        <div
          class="error-box"
          *ngIf="isRegisterSubmitted && registerErrorControl .userName.errors?.required"
        >
          {{'please enter user name' | translate}}
        </div>

        <div
          class="error-box"
          *ngIf="isRegisterSubmitted && registerErrorControl .userName.errors?.minlength"
        >
          {{'user name should be min 2 chars long' | translate}}
        </div>
        <ion-item lines="none" [ngClass]="inputFocusPhone ? 'focused' : 'unfocused' ">
          <ion-icon
            item-start
            color="primary"
            src="{{inputFocusPhone?inputFocusPhoneIcon:inputInFocusPhoneIcon}}"
          ></ion-icon>
          <ion-input
            (ionFocus)="focusPhone(true)"
            (ionBlur)="focusPhone(false)"
            placeholder="{{'phone-number'|translate}}"
            type="tel"
            formControlName="phoneNumber"
          ></ion-input>
        </ion-item>

        <div
          class="error-box"
          *ngIf="isRegisterSubmitted && registerErrorControl .phoneNumber.errors?.required"
        >
          {{'please enter phone number' | translate}}
        </div>

        <div
          class="error-box"
          *ngIf="isRegisterSubmitted && registerErrorControl .phoneNumber.errors?.minlength"
        >
          {{'phone number should be 10 numbers' | translate}}
        </div>

        <ion-item lines="none" [ngClass]="inputFocusEmail ? 'focused' : 'unfocused' ">
          <ion-icon
            item-start
            color="primary"
            src="{{inputFocusEmail?inputFocusEmailIcon:inputInFocusEmailIcon}}"
          ></ion-icon>
          <ion-input
            (ionFocus)="focusEmail(true)"
            (ionBlur)="focusEmail(false)"
            placeholder="{{'email-address'|translate}}"
            type="email"
            formControlName="email"
          ></ion-input>
        </ion-item>

        <div
          class="error-box"
          *ngIf="isRegisterSubmitted && registerErrorControl .email.errors?.required "
        >
          {{'please enter email' | translate}}
        </div>

        <div
          class="error-box"
          *ngIf="isRegisterSubmitted && registerErrorControl .email.errors?.pattern "
        >
          {{'please enter valid email' | translate}}
        </div>

        <ion-item lines="none" [ngClass]="inputFocusPassword ? 'focused' : 'unfocused' ">
          <ion-icon
            item-start
            color="primary"
            src="{{inputFocusPassword?inputFocusPasswordIcon:inputInFocusPasswordIcon}}"
          ></ion-icon>
          <ion-input
            (ionFocus)="focusPassword(true)"
            (ionBlur)="focusPassword(false)"
            placeholder="{{'password'|translate}}"
            [type]="inputRegisterType"
            formControlName="password"
          ></ion-input>
          <ion-icon (click)="showRegisterPassword()"
          item-end
          color="primary"
          [name]="iconRegisterName"
        ></ion-icon>
        </ion-item>

        <div
          class="error-box"
          *ngIf="isRegisterSubmitted && registerErrorControl .password.errors?.required"
        >
          {{'please enter password' | translate}}
        </div>

        <ion-item lines="none" [ngClass]="inputFocusConfirmPassword ? 'focused' : 'unfocused' ">
          <ion-icon
            item-start
            color="primary"
            src="{{inputFocusConfirmPassword?inputFocusConfirmPasswordIcon:inputInFocusConfirmPasswordIcon}}"
          ></ion-icon>
          <ion-input
            (ionFocus)="focusConfirmPassword(true)"
            (ionBlur)="focusConfirmPassword(false)"
            placeholder="{{'confirm-password'|translate}}"
            [type]="inputRegisterConfirmType"
            formControlName="confirmPassword"
          ></ion-input>
          <ion-icon (click)="showRegisterConfirmPassword()"
          item-end
          color="primary"
          [name]="iconRegisterConfirmName"
        ></ion-icon>
        </ion-item>

        <div
          class="error-box"
          *ngIf="isRegisterSubmitted &&  (registerErrorControl.confirmPassword.value!=registerErrorControl .password.value)"
        >
          {{'both password and confirm password should be equal' | translate}}
        </div>

        <ion-button expand="block" type="submit">
          <span class="auth-btn"> {{ "sign-up"|translate}} </span>
        </ion-button>
      </form>

      <form
        class="auth-form"
        *ngIf=" authType=='signin'"
        (ngSubmit)="signIn()"
        [formGroup]="signinForm"
      >
        <ion-item lines="none" [ngClass]="inputFocusPhone ? 'focused' : 'unfocused' ">
          <ion-icon
            item-start
            color="primary"
            src="{{inputFocusPhone?inputFocusPhoneIcon:inputInFocusPhoneIcon}}"
          ></ion-icon>
          <ion-input
            (ionFocus)="focusPhone(true)"
            (ionBlur)="focusPhone(false)"
            placeholder="{{'phone-number'|translate}}"
            type="tel"
            formControlName="phoneNumber"
          ></ion-input>
       
        </ion-item>
       
        <div
          class="error-box"
          *ngIf=" isSignInSubmitted && signinErrorControl.phoneNumber.errors?.required"
        >
          {{'please enter phone number' | translate}}
        </div>

        <div
          class="error-box"
          *ngIf="isSignInSubmitted && signinErrorControl.phoneNumber.errors?.minlength"
        >
          {{'phone number should be 10 numbers' | translate}}
        </div>
        <ion-item lines="none" [ngClass]="inputFocusPassword ? 'focused' : 'unfocused' ">
          <ion-icon
            item-start
            color="primary"
            src="{{inputFocusPassword?inputFocusPasswordIcon:inputInFocusPasswordIcon}}"
          ></ion-icon>
          <ion-input
            (ionFocus)="focusPassword(true)"
            (ionBlur)="focusPassword(false)"
            placeholder="{{'password'|translate}}"
            [type]="inputLoginType"
            formControlName="password"
          ></ion-input>
          <ion-icon (click)="showLoginPassword()"
          item-end
          color="primary"
          [name]="iconLoginName"
        ></ion-icon>
        </ion-item>

        <div
          class="error-box"
          *ngIf="isSignInSubmitted && signinErrorControl.password.errors?.required"
        >
          {{'please enter password' | translate}}
        </div>

        <ion-button expand="block" type="submit">
          <span class="auth-btn"> {{"login"|translate}} </span>
        </ion-button>
      </form>
    </ion-card>
    <div class="auth-page-rest">
      <div *ngIf=" authType=='signin'">
        <p (click)="forgetPassword()" class="forget-password fn-14 dalel-Regular">
          {{"forget-password"|translate}}
        </p>
        <p (click)="changAuthType('register')" class="auth-text fn-18 dalel-SemiBold">
          {{"register"|translate}}
        </p>
      </div>

      <div *ngIf=" authType=='register'">
        <p (click)="changAuthType('signin')" class="auth-text">
          {{"have an account"|translate}}
        </p>
      </div>
    </div>
  </div>
</ion-content>
