ion-content.bg-left {
  --background: url(./../../../../assets/images/authBg-left.png) 0 0 /100% 100% no-repeat;
}

ion-content.bg-right {
  --background: url(./../../../../assets/images/authBg-right.png) 0 0 /100% 100%
    no-repeat;
}

// :host(.item-fill-none.item-interactive.ion-focus)
// .item-native, :host(.item-fill-none.item-interactive.item-has-focus)
// .item-native, :host(.item-fill-none.item-interactive.ion-touched.ion-invalid)
// .item-native{

//   border-bottom-color:var(--ion-color-secondary) !important;

// }

ion-item {
  &::part(native) {
    border-bottom-color: var(--ion-color-secondary) !important;
  }
}

// ion-segment{
//   display: flex;
//   justify-content: space-between;
// }
