ion-content.background {
  --background: url(./../../../../assets/images/boarding.svg) center
    center/cover no-repeat;
}

:root[dir="rtl"] {
  .swiper-pagination-bullets {
    top: 23% !important;
    right:  32px !important;
    height: fit-content;
    text-align: right;
  }
}

:root[dir="ltr"] {
  .swiper-pagination-bullets {
    top: 23% !important;
    right:  32px !important;
    height: fit-content;
    text-align: left;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boarding-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    flex-direction: row;
  }
}
.boarding {
  padding: 50px 36px 0;
  .custom-row {
    padding-top: 16px;
  }
  .boardng-title {
    font-size: 24px;
    font-family: "Cairo-Bold";
    color: var(--ion-color-secondary);
    margin: 0 0 10px 0;
  }
  .boardng-subtitle {
    font-size: 14px;
    font-family: "Cairo-Regular";
    margin: 0 0 100px 0;
  }

  .btn-custom {
    width: 100% !important;
    margin: 0px !important;
    --color: var(--ion-color-white);
    font-size: 16;
    font-family: "Cairo-Bold";
    height: 48px;
  }
}

.swiper-pagination-bullet-active {
  background-color: var(--ion-color-primary) !important;
  height: 10px;
  width: 30px !important;
  border-radius: 10px;
  height: 20 !important;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: var(--ion-color-primary) !important;
  height: 10px;
  width: 15px;
  border-radius: 10px;
}

.swiper-pagination-bullet-inactive {
  background-color: rgba(var(--ion-color-primary), 0.5) !important;
  height: 10px;
  width: 15px;
  border-radius: 10px;
  opacity: 0.5;
}

