ion-content.background {
  --background: url(./../../../../assets/images/boarding.svg) center
    100% no-repeat;
}
//center/cover
:root[dir="rtl"] {
  .swiper-pagination-bullets {
    top: 23% !important;
    right:  32px !important;
    height: fit-content;
    text-align: right;
  }
}

:root[dir="ltr"] {
  .swiper-pagination-bullets {
    top: 23% !important;
    right:  32px !important;
    height: fit-content;
    text-align: left;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boarding-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    flex-direction: row;
  }
}
.boarding {
  padding: 50px 36px 0;
  img {
    width: 100%;
    height: 300px !important;
    object-fit: contain;
  }

  .custom-row {
    padding-top: 16px;
  }

  .boardng-title {
    color: var(--ion-color-secondary);
    margin: 0 0 10px 0;
  }

  .boardng-subtitle {
    margin: 0 0 130px 0;
  }

  .btn-custom {
    width: 100% !important;
    margin: 0px !important;
    --color: var(--ion-color-white);
    height: 50px;
  }
}


