<ion-content class="background">
  <swiper
    #swiper
    [config]="config"
    [dir]="currentlangauge == 'ar' ? 'rtl' : 'ltr'"
    (slideChange)="swiperSlideChanged($event)"
    *ngIf="getIntro"
  >
    <ng-template swiperSlide>
      <div class="boarding">
        <h5 class="boardng-title fn-24 dalel-Bold">{{introData?.data?.first_title}}</h5>

        <p class="boardng-subtitle fn-14 dalel-Regular">{{introData?.data?.first_desc}}</p>

        <div
          class="boarding-buttons"
          [ngClass]="currentlangauge=='ar' ? '':'custom-row'"
        >
          <div>
            <ion-button
              [disabled]="slidingNotAvailable"
              expand="block"
              class="btn-custom fn-16 dalel-Bold"
              (click)="nextSlide()"
            >
              <span>{{"next"|translate}}</span>
            </ion-button>
          </div>
          <div (click)="skipBoarding()">
            <div class="ion-text-center skip">
              <span> {{"skip"|translate}} </span>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="boarding">
        <h5 class="boardng-title fn-24 dalel-Bold">{{introData?.data?.second_title}}</h5>

        <p class="boardng-subtitle fn-14 dalel-Regular">{{introData?.data?.second_desc}}</p>

        <div
          class="boarding-buttons"
          [ngClass]="currentlangauge=='ar' ? '':'custom-row'"
        >
          <div>
            <ion-button
              [disabled]="slidingNotAvailable"
              expand="block"
              class="btn-custom fn-16 dalel-Bold"
              (click)="nextSlide()"
            >
              <span>{{"next"|translate}}</span>
            </ion-button>
          </div>
          <div (click)="skipBoarding()">
            <div class="ion-text-center skip">
              <span> {{"skip"|translate}} </span>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="boarding">
        <h5 class="boardng-title fn-24 dalel-Bold">{{introData?.data?.third_title}}</h5>

        <p class="boardng-subtitle fn-14 dalel-Regular">{{introData?.data?.third_desc}}</p>

        <div
          class="boarding-buttons"
          [ngClass]="currentlangauge=='ar' ? '':'custom-row'"
        >
          <div>
            <ion-button
              [disabled]="slidingNotAvailable"
              expand="block"
              class="btn-custom fn-16 dalel-Bold"
              (click)="start()"
            >
              <span>{{"start"|translate}}</span>
            </ion-button>
          </div>
        </div>
      </div>
    </ng-template>
  </swiper>
</ion-content>
