<app-header
  [title]="'favourites'"
  [isEditable]="false"
  [backwardRoute]="'/tabs/main'"
  [isMain]="false"
  class="header-height"
></app-header>
<ion-content class="custom-padding">
  <ion-grid>
    <ion-row>
      <ion-col
        sizeXs="6"
        sizeSm="4"
        sizeMd="4"
        sizeLg="4"
        sizeMd="4"
        *ngFor="let item of favourites"
      >
        <ion-card
          class="ion-no-margin"
          routerLink="/tabs/main/categories/{{item.section_id}}/{{item.id}}"
          *ngIf="item!=null"
        >
          <img src="./../../../assets/images/512.png" />

          <div class="price-container">
            <span class="white-color fn-12 dalel-Regular"
              >{{item.price}} {{'currency'|translate}}</span
            >
          </div>

          <ion-card-content>
            <div class="name">
              <p class="fn-14 dalel-Bold dark-black-color">{{item.title}}</p>
            </div>
            <div class="rating-address-container">
              <div class="address-container">
                <ion-icon name="location-sharp" color="primary"></ion-icon>
                <p class="fn-14 dalel-Regular dark-black-color">
                   {{item.city_title}}
                </p>
              </div>

              <div class="rating-container" *ngIf="item.saler_rate!=0">
                <ion-icon color="secondary" slot="end" name="star"></ion-icon>
                <span class="white-color fn-10 dalel-Regular"
                  >{{item.rate}}</span
                >
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
