.menu-container {
  position: relative;
  img {
    width: 100%;
  }
}
ion-card {
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px !important;
}
ion-header {
  .menu-icon {
    position: absolute;
    top: 30%;
    right: 16px;
    img {
      width: 40px;
      height: 40px;
    }
  }

  .menu-title {
    position: absolute;
    top: 35%;
    right: 18%;
    font-size: 18px;
    color: var(--ion-color-primary);
    font-weight: bold;
    p {
      margin: 0px;
    }
  }

  .back-icon {
    position: absolute;
    top: 33%;
    left: 16px;
    ion-icon {
      font-size: 25px;
    }
  }
}

ion-card {
  ion-item::part(native) {
    padding-inline-start: 0px;
  }

  ion-thumbnail {
    margin: 15px;

    img {
      border-radius: 5px;
    }
  }

  ion-label {
    font-size: 16px;
    font-family: "Cairo-SemiBold";
  }
}
