ion-card {
  // ion-item {
  //   &::part(native) {
  //     padding-inline-start: 0px;
  //     .item-nner{
  //       .input-wrapper{
  //         align-items: center;
  //       }
  //     }
  //   }

  //   height: 80px;

  //   ion-thumbnail {
  //     margin: 15px;

  //     img {
  //       border-radius: 5px;
  //       height: 50px;
  //       width: 50px;
  //     }
  //   }
  // }

  height: 80px;
  .cat-container {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 15px;
    .cat-image,
    .cat-title {
      flex-direction: row;
    }
    .cat-image > img {
      height: 50px;
      width: 50px;
      border-radius: 5px;
      object-fit: cover;
      object-position: center;
    }
    .cat-title {
      margin: 0 7px;
    }
  }
}
