<app-header
  [title]="'categories'"
  [isEditable]="false"
  [backwardRoute]="'/tabs/main'"
  [isMain]="false"
  class="header-height"
></app-header>

<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let cat of sections">
        <ion-card class="ion-no-margin" (click)="openCatList(cat.id,cat.title)">
          <ion-item>
            <ion-thumbnail>
              <img [src]="cat.image" />
            </ion-thumbnail>
            <ion-label> {{cat.title|translate}} </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
