<ion-content class="background">
  <div class="auth-login-register">
    <div class="logo">
      <img src="../../../../assets/images/logo.svg" />
    </div>

    <ion-card class="auth-container">
      <div class="auth-container-title">
        <h5>{{ "password-change"|translate}}</h5>
      </div>

      <form
        class="auth-form"
        (ngSubmit)="forgetPassword()"
        [formGroup]="forgetPasswordForm"
      >
        <ion-item
          lines="none"
          [ngClass]="inputFocusPhone ? 'focused' : 'unfocused' "
        >
          <ion-icon
            item-start
            color="primary"
            src="{{inputFocusPhone?inputFocusPhoneIcon:inputInFocusPhoneIcon}}"
          ></ion-icon>
          <ion-input
            (ionFocus)="focusPhone(true)"
            (ionBlur)="focusPhone(false)"
            placeholder="{{'phone-number'|translate}}"
            type="tel"
            formControlName="phoneNumber"
          ></ion-input>
        </ion-item>

        <div
          class="error-box"
          *ngIf="isForgetPasswordSubmitted && forgetPasswordErrorControl.phoneNumber.errors?.required"
        >
          {{'please enter phone number' | translate}}
        </div>

        <div
          class="error-box"
          *ngIf="isForgetPasswordSubmitted && forgetPasswordErrorControl.phoneNumber.errors?.minlength"
        >
          {{'phone number should be 10 numbers' | translate}}
        </div>

        <ion-button expand="block" type="submit">
          <span class="auth-btn"> {{"change password"|translate}} </span>
        </ion-button>
      </form>
    </ion-card>
  </div>
</ion-content>
