<ion-content class="background">
  <div class="auth-login-register">
    <div class="logo">
      <img src="../../../../assets/images/logo.svg" />
    </div>

    <ion-card class="auth-container">
   
      <div class="auth-container-title">
        <h5> {{ "password-change"|translate}}  </h5>
      </div>
      

      <form class="auth-form" (ngSubmit)="passwordChange()">
       
        <ion-item lines="none">
          <ion-icon
            item-start
            color="primary"
            src="{{inputFocusPassword?inputFocusPasswordIcon:inputInFocusPasswordIcon}}"
          ></ion-icon>
          <ion-input (ionFocus)="focusPassword(true)" (ionBlur)="focusPassword(false)"
            placeholder="{{'password'|translate}}"
            type="password"
          ></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-icon
            item-start
            color="primary"
            src="{{inputFocusConfirmPassword?inputFocusConfirmPasswordIcon:inputInFocusConfirmPasswordIcon}}"
          ></ion-icon>
          <ion-input (ionFocus)="focusConfirmPassword(true)" (ionBlur)="focusConfirmPassword(false)"
            placeholder="{{'confirm-password'|translate}}"
            type="password"
          ></ion-input>
        </ion-item>

        <ion-button expand="block" type="submit">
          <span class="auth-btn"> {{"confirm"|translate}} </span>
        </ion-button>
      </form>
    </ion-card>
   
  </div>
</ion-content>
