

<app-header [title]="'categories'" [isEditable]="false" [backwardRoute]="'/tabs/main'" [isMain]="false"></app-header>


<ion-content class="ion-padding">
  <ion-card
    class="ion-no-margin"
    *ngFor="let cat of categoriesList"
    routerLink="/tabs/main/categories/{{categoryID}}/{{cat.id}}"
  >
    <div class="container">
      <img src="./../../../assets/images/1024-500.png" />

      <div class="title">
        <p>اسم تجريبي</p>
      </div>

      <div class="location">
        <ion-icon name="location-sharp" color="primary"></ion-icon>
      </div>

      <div class="location-address">
        <p>الرياض</p>
      </div>

      <div class="address-detail" routerLink="/tabs/main/category-details">
        <ion-icon name="arrow-forward-circle-outline" color="white"></ion-icon>
      </div>
    </div>
  </ion-card>
</ion-content>
