<app-header
  title="{{categoryName|translate}}"
  [isEditable]="false"
  [backwardRoute]="'/tabs/main'"
  [isMain]="false"
  class="header-height"
></app-header>

<ion-content class="ion-padding">
  <app-custom-card
    [itemDetails]="cat"
    [forwardRoute]="'/tabs/main/categories/'"
    *ngFor="let cat of categoriesList"
  ></app-custom-card>
  <!-- <ion-card
    class="ion-no-margin"
    *ngFor="let cat of categoriesList"
    routerLink="/tabs/main/categories/{{categoryID}}/{{cat.id}}"
  >
    <div class="container">
      <img src="./../../../assets/images/1024-500.png" />
      <div
        class="title"
        [ngStyle]="currentlangauge=='ar'?{'right': '13px'} : {'left': '13px'}"
      >
        <p class="fn-14 dalel-Bold white-color">{{cat.name}}</p>
      </div>

      <div
        class="location"
        [ngStyle]="currentlangauge=='ar'?{'right': '10px'} : {'left': '10px'}"
      >
        <ion-icon name="location-sharp" color="primary"></ion-icon>
      </div>

      <div
        class="location-address "
        [ngStyle]="currentlangauge=='ar'?{'right': '30px'} : {'left': '30px'}"
      >
        <p class="fn-14 dalel-Regular white-color">{{cat.location}}</p>
      </div>

      <div
        class="address-detail"
        [ngStyle]="currentlangauge=='ar'?{'left': '10px'} : {'right': '10px'}"
        routerLink="/tabs/main/category-details"
      >
        <ion-icon name="arrow-forward-circle-outline" color="white"></ion-icon>
      </div>
    </div>
  </ion-card> -->
</ion-content>
