<app-header
  [title]="'my-reservations'"
  [isEditable]="false"
  [backwardRoute]="'/tabs/main'"
  [isMain]="false"
  class="header-height"
></app-header>

<ion-content class="ion-padding">
  <ion-segment
    (ionChange)="reservationsTypeChange($event)"
    value="register"
    [(ngModel)]="reservationsType"
  >
    <ion-segment-button
      value="old"
      [ngClass]="reservationsType=='old' ?'selected':'old-unselected'"
    >
      <ion-label>{{"old"|translate}}</ion-label>
    </ion-segment-button>

    <ion-segment-button
      value="current"
      [ngClass]="reservationsType=='current' ?'selected':'current-unselected'"
    >
      <ion-label>{{"current"|translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="reservationsType=='old'">
    <ion-card
      class="ion-no-margin"
      *ngFor="let item of oldReservations"
      routerLink="/tabs/my-reservations/my-reservations-details"
    >
      <div class="container">
        <img src="./../../../assets/images/1024-500.png" />


        <div class="price">
          <p class="fn-15 dalel-SemiBold secondary-color">{{item.price}}   {{item.perUnit|translate}}/ {{item.unit|translate}}</p>
        </div>

        <div class="title"  [ngStyle]="currentlangauge=='ar'?{'right': '13px'} : {'left': '13px'}">
          <p class="fn-14 dalel-Bold white-color">{{item.name|translate}}</p>
        </div>

        <div class="location" [ngStyle]="currentlangauge=='ar'?{'right': '10px'} : {'left': '10px'}">
          <ion-icon
            src="./../../../assets/icon/pin-underline.svg"
            color="primary"
          ></ion-icon>
        </div>

        <div class="location-address" [ngStyle]="currentlangauge=='ar'?{'right': '35px'} : {'left': '35px'}">
          <p class="fn-10 dalel-Regular white-color">{{item.city}} - {{item.country}}</p>
        </div>

        <div class="rating" [ngStyle]="currentlangauge=='ar'?{'left': '16px'} : {'right': '16px'}">
          <span class="white-color"> {{item.rating}}</span>
          <ion-icon name="star" color="secondary"></ion-icon>
        </div>
      </div>
    </ion-card>
  </div>

  <div *ngIf="reservationsType=='current'">
    <ion-card
      class="ion-no-margin"
      *ngFor="let item of currentReservations"
      routerLink="/tabs/my-reservations/my-reservations-details"
    >
      <div class="container">
        <img src="./../../../assets/images/1024-500.png" />

        <div class="price">
          <p class="fn-15 dalel-SemiBold secondary-color">{{item.price}}   {{item.perUnit|translate}}/ {{item.unit|translate}}</p>
        </div>

        <div class="title"  [ngStyle]="currentlangauge=='ar'?{'right': '13px'} : {'left': '13px'}">
          <p class="fn-14 dalel-Bold white-color">{{item.name|translate}}</p>
        </div>

        <div class="location" [ngStyle]="currentlangauge=='ar'?{'right': '10px'} : {'left': '10px'}">
          <ion-icon
            src="./../../../assets/icon/pin-underline.svg"
            color="primary"
          ></ion-icon>
        </div>

        <div class="location-address" [ngStyle]="currentlangauge=='ar'?{'right': '35px'} : {'left': '35px'}">
          <p class="fn-10 dalel-Regular white-color">{{item.city}} - {{item.country}}</p>
        </div>

        <div class="rating" [ngStyle]="currentlangauge=='ar'?{'left': '16px'} : {'right': '16px'}">
          <span class="white-color"> {{item.rating}}</span>
          <ion-icon name="star" color="secondary"></ion-icon>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>
