<app-header
  [title]="'my-reservations'"
  [isEditable]="false"
  [backwardRoute]="'/tabs/main'"
  [isMain]="false"
  class="header-height"
></app-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-segment
    (ionChange)="reservationsTypeChange($event)"
    [value]="current"
    [(ngModel)]="reservationsType"
  >
    <ion-segment-button
      [value]="current"
      [ngClass]="reservationsType==current ?'selected':'old-unselected'"
    >
      <ion-label>{{"current"|translate}}</ion-label>
    </ion-segment-button>

    <ion-segment-button
      [value]="old"
      [ngClass]="reservationsType==old ?'selected':'current-unselected'"
    >
      <ion-label>{{"old"|translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="reservationsType==current">
    <div *ngIf="noCurrentOrders" class="no-data">
      <p>{{'no current reservations'|translate}}</p>
    </div>
    <ion-card
      class="ion-no-margin"
      *ngFor="let item of currentReservations"
      routerLink="/tabs/my-reservations/my-reservations-details/{{item.id}}"
    >
      <div class="container">
        <img [src]="item?.department_image" />

        <div class="price" [ngClass]="currentlangauge=='ar'  ?'price-ar':'price-en' ">
          <p class="fn-14 dalel-Bold secondary-color ion-no-margin">
            {{item.department_price}} {{'currency'|translate}}/ {{'one night'|translate}}
          </p>
        </div>

        <div
          class="title "
          [ngStyle]="currentlangauge=='ar'?{'right': '13px'} : {'left': '13px'}"
        >
          <p class="fn-14 dalel-Bold white-color ion-no-margin">
            {{item.department_title|translate}}
          </p>
        </div>

        <div
          class="location"
          [ngStyle]="currentlangauge=='ar'?{'right': '10px'} : {'left': '10px'}"
        >
          <ion-icon
            src="./../../../assets/icon/pin-underline.svg"
            color="primary"
          ></ion-icon>
        </div>

        <div
          class="location-address"
          [ngStyle]="currentlangauge=='ar'?{'right': '35px'} : {'left': '35px'}"
        >
          <p class="fn-10 dalel-Regular white-color">
            {{item.department_city_title}} - {{item.department_country_title}}
          </p>
        </div>

        <div
          class="rating"
          [ngStyle]="currentlangauge=='ar'?{'left': '16px'} : {'right': '16px'}"
        >
          <span class="white-color"> {{item.department_rate}}</span>
          <ion-icon name="star" color="secondary"></ion-icon>
        </div>
      </div>
    </ion-card>
  </div>

  <div *ngIf="reservationsType==old">
    <div *ngIf="noOldOrders" class="no-data">
      <p>{{'no old reservations'|translate}}</p>
    </div>

    <ion-card
      class="ion-no-margin"
      *ngFor="let item of oldReservations"
      routerLink="/tabs/my-reservations/my-reservations-details/{{item.id}}"
    >
      <div class="container">
        <img [src]="item?.department_image" />

        <div class="price">
          <p class="fn-15 dalel-SemiBold secondary-color">
            {{item.department_price}} {{'currency'|translate}}/ {{'one night'|translate}}
          </p>
        </div>

        <div
          class="title"
          [ngStyle]="currentlangauge=='ar'?{'right': '13px'} : {'left': '13px'}"
        >
          <p class="fn-14 dalel-Bold white-color">
            {{item.department_title|translate}}
          </p>
        </div>

        <div
          class="location"
          [ngStyle]="currentlangauge=='ar'?{'right': '10px'} : {'left': '10px'}"
        >
          <ion-icon
            src="./../../../assets/icon/pin-underline.svg"
            color="primary"
          ></ion-icon>
        </div>

        <div
          class="location-address"
          [ngStyle]="currentlangauge=='ar'?{'right': '35px'} : {'left': '35px'}"
        >
          <p class="fn-10 dalel-Regular white-color">
            {{item.department_city_title}} - {{item.department_country_title}}
          </p>
        </div>

        <div
          class="rating"
          [ngStyle]="currentlangauge=='ar'?{'left': '16px'} : {'right': '16px'}"
        >
          <span class="white-color"> {{item.department_rate}}</span>
          <ion-icon name="star" color="secondary"></ion-icon>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>
