ion-segment {
  border-radius: 10px !important;
  margin-bottom: 24px;
  --background: var(--ion-color-orange-light);
  display: flex;
  justify-content: space-between;
  .selected {
    background-image: linear-gradient(
      to left,
      var(--ion-color-primary),
      var(--ion-color-secondary)
    );
    --border-radius: 10px !important;
  }
  .old-unselected {
    --border-radius: 0 10px 10px 0 !important;
  }

  .current-unselected {
    --border-radius: 10px 0 0 10px !important;
  }
}

ion-segment-button {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  height: 50px;
  --background: var(--ion-color-orange-light);
  --color-checked: var(--ion-color-white);
  --color: var(--ion-color-secondary);
  --background-checked: var(--ion-color-primary);
  --border-radius: 10px !important;
  --indicator-color: none;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  --background: var(--ion-color-orange-light);
  --border-radius: 10px !important;
}

ion-card {
  margin-bottom: 16px;

  .container {
    position: relative;
    height: 158px;

    .price {
      position: absolute;
      top: 16px;
      color: var(--ion-color-secondary);
    }

    .price-ar {
      left: 16px;
    }

    .price-en {
      right: 16px;
    }

    img {
      width: 100%;
      height: 160px;
      object-fit: cover;
      object-position: initial;
      filter: brightness(0.34);
    }

    .title {
      position: absolute;
      bottom: 30px;
      margin-bottom: 7px;
    }

    .location {
      position: absolute;
      bottom: 5px;

      ion-icon {
        font-size: 20px;
      }
    }

    .location-address {
      position: absolute;

      font-size: 10px;
      bottom: 13px;
      p {
        margin: 0 0 -5px 0;
      }
    }

    .rating {
      position: absolute;
      bottom: 16px;
      text-align: center;
      padding: 2px 0px;
      width: 40px;
      height: 25px;
      background-color: var(--ion-color-primary);
      border-radius: 5px;
      ion-icon {
        font-size: 12px;

        margin-top: 3px;
      }
      span {
        margin: 0 5px;
        font-size: 14px;
      }
    }
  }
}
