ul {
  list-style-image: url("./../../../assets/icon/dot-icon.svg");
}
// ion-item {
//   --border-color: var(--ion-color-white) !important;
// }
ion-item::part(native) {
  text-align: center;
  padding-inline-end: 0px !important;
  padding-inline-start: 0px !important;

  .item-inner {
    --inner-border-width: 0px;
  }
}

.isRead {
  --background: rgba(var(--ion-color-primary-rgb), 0.15) !important;
}

.alert-button-group.sc-ion-alert-md{
  justify-content: space-around !important;
}
.alert-button-group.sc-ion-alert-ios{
  justify-content: space-around !important;
}

