<div class="item-details" [ngClass]="isDetailed ? 'details' : 'notdetails'">
  <div class="name-rating-container">
    <div class="name">
      <h5 class="fn-16 dalel-Bold"> {{ reservationDetails.name }}</h5>
    </div>

    <div class="rating">
      <div class="rating-address-container">
        <div class="rating-container">
          <ion-icon color="secondary" slot="start" name="star"></ion-icon>
          <span class="white-color fn-12 dalel-Regular">{{
            reservationDetails.rating
          }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="address-price-container">
    <ion-item lines="none" class="address">
      <ion-label>
        <p class="fn-14 dalel-Regular dark-black-color">
           {{ reservationDetails.city }} - {{ reservationDetails.address }}
        </p>
      </ion-label>
      <ion-icon slot="start" name="location-sharp" color="primary"></ion-icon>
    </ion-item>

    <div class="price">
      <p
        class="fn-10 dalel-Bold primary-color"
        [ngClass]="currentlangauge == 'ar' ? 'float-left' : 'float-right'"
      >
         {{ reservationDetails.price }} {{ reservationDetails.unit }}/{{
          reservationDetails.perUnit
        }}
      </p>
    </div>
  </div>
</div>
