<div class="item-details" >
  <div class="name-rating-container">
    <div class="name">
      <h5 class="fn-16 dalel-Bold"> {{ ItemDetails.title }}</h5>
    </div>

    <div class="rating">
      <div class="rating-address-container">
        <div class="rating-container">
          <ion-icon color="secondary" slot="start" name="star"></ion-icon>
          <span class="white-color fn-12 dalel-Regular">{{
            ItemDetails.rate
          }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="address-price-container">
    <ion-item lines="none" class="address" [ngClass]="isDetailed ? 'details' : ''">
      <ion-label>
        <p class="fn-14 dalel-Regular dark-black-color">
           {{ ItemDetails.city_title }} - {{ ItemDetails.neighborhood_title }}
        </p>
      </ion-label>
      <ion-icon slot="start" name="location-sharp" color="primary"></ion-icon>
    </ion-item>

    <div class="price">
      <p
        class="fn-10 dalel-Bold primary-color"
        [ngClass]="currentlangauge == 'ar' ? 'float-left' : 'float-right'"
      >
         {{ ItemDetails.price }} {{ 'currency' |translate }}/{{'one night'|translate }}
      </p>
    </div>
  </div>
</div>
