/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

@font-face {
  font-family: "Cairo-Regular";
  src: url("./assets/fonts/Cairo-Regular.ttf");
}

@font-face {
  font-family: "Cairo-Bold";
  src: url("./assets/fonts/Cairo-Bold.ttf");
}

@font-face {
  font-family: "Cairo-SemiBold";
  src: url("./assets/fonts/Cairo-SemiBold.ttf");
}

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~swiper/css";
@import "~swiper/css/bundle";
.arabic_padding {
  padding-right: 36px !important;
}
.english_padding {
  padding-left: 36px !important;
}

.btn-custom {
  width: 35%;
  margin: 0 5%;
  --color: var(--ion-color-white);
  font-size: 16;
  font-family: "Cairo-Bold";
  height: 48px;
}

.auth-login-register {
  .logo {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 2.5%;
    img {
      height: 97.84 !important;
      width: 108.48 !important;
    }
  }

  .auth-container {
    margin-top: 24px;

    .auth-container-title {
      text-align: center;
      h5 {
        margin: 16px 0px;
        font-size: 24px;
        font-family: "Cairo-Bold";
        color: var(--ion-color-primary);
      }
    }

    .auth-container-sub-title {
      text-align: center;
      p {
        margin: 16px 0px;
        font-size: 14px;
        font-family: "Cairo-Regular";
      }
    }
    ion-segment {
      border-radius: 0px !important;
    }
    ion-segment-button {
      height: 48px;
      --background:  rgba(var(--ion-color-secondary-rgb),0.51);
      --color-checked: var(--ion-color-white);
      --color: var(--ion-color-secondary);
      --background-checked: var(--ion-color-primary);
      --border-radius: 0 10px 0 0;
      --indicator-color: none;
      ion-label {
        font-size: 14px;
        font-family: "Cairo-SemiBold";
      }
    }

    .auth-form {
      margin: 24px 16px;


      .otp{
        font-size: 24px;
        --padding-bottom:0px !important;
        --padding-top:0px !important;
      }
      ion-row {
        ion-col {
          //padding: 0px ;
        }
      }
      ion-item {
        --border-color: var(--ion-color-secondary);
        --border-radius: 10px;
        --border-width: 1px;
        margin-bottom: 16px;
        ion-icon {
          width: 20px !important;
          height: 20px !important;
          //padding-top: 6px !important;
        }
        ion-input {
          --placeholder-color: var(--ion-color-secondary);
          font-size: 14px;
          margin: 0 5px;
          --ion-font-family: "Cairo-Regular";
        }
      }
      ion-button {
        --color: var(--ion-color-white);
      }
      ion-button::part(native) {
        height: 50px !important;
        background-image: linear-gradient(
          to left,
          var(--ion-color-primary),
          var(--ion-color-secondary)
        );
      }

      .auth-btn {
        font-size: 16px;
        font-family: "Cairo-Bold";
      }

      .error-box{
        color: red;
        margin: 10px auto;
        font-size: 12px;
        text-align: center;
      }
    }
  }

  .auth-page-rest {
    margin-top: 24px;
    margin-bottom: 16px;
    .forget-password {
      font-size: 14px;
      font-family: "Cairo-Regular";
      color: var(--ion-color-primary);
      text-align: center;
    }
    .auth-text {
      font-size: 18px;
      font-family: "Cairo-SemiBold";
      text-align: center;
    }
  }
}

ion-tab-bar{
  --background:rgba(var(--ion-color-secondary-rgb),0.2) !important;
  margin: 16px;
  border-radius: 5px;


  ion-tab-button{
    ion-icon{
      width: 16px;
    height: 14.4px;
    }
  }
}


