<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">
  <ion-tab-bar slot="bottom">
    <ion-tab-button
      [ngClass]="selectedTab==tab.tabName?'selected':''"
      [tab]="tab.tabName"
      *ngFor="let tab of tabsData"
    >
    <ion-badge *ngIf="tab.tabName=='notifications' && noOfNotifications!=0 && isLogined" color="primary">
      <span ngClass="badge-color">{{noOfNotifications}}</span>
    </ion-badge>
      <ion-icon
        [src]="selectedTab==tab.tabName? tab.tabActiveIcon:tab.tabNotActiveIcon"
      ></ion-icon>
      <ion-label [ngClass]="selectedTab==tab.tabName?'selected-label':''">
        {{tab.tabName|translate}}
      </ion-label>
     
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
